    <p></p>
    <p id="copyright">Copyright <i id="ic" class="copyright outline icon"></i>2018 Aditya Gupta. All rights reserved.</p>
    <p></p>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>
